<app-header></app-header>
<div class="g-sidenav-show bg-gray-200 h-100">
    <div class="main-content position-relative max-height-vh-100 h-100">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
            navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <h1 class="font-weight-bolder mb-0" [ngStyle]="{'font-size': '20px'}">Listado de Citas Médicas
                    </h1>
                </nav>
            </div>
        </nav>
        <div class="container-fluid px-2 px-md-4" [ngStyle]="{'position': 'relative', 'top': '100px'}">
            <div class="col-12 mt-4">
                <div class="card card-plain h-100">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-md-8 d-flex align-items-center">
                                <h6 class="mb-0">Listado de citas</h6>
                            </div>
                            <div class="col-md-4 text-end">
                                <i class="fa-solid fa-file-pdf text-secondary option" (click)="getPDF()" title="Descargar en PDF" [ngStyle]="{'cursor': 'pointer'}"></i>
                                    <i class="fa-solid fa-file-excel text-secondary option" title="Descargar en Excel" [ngStyle]="{'cursor': 'pointer'}"></i>
                                <a [routerLink]="['/patient/appointments']" [ngStyle]="{'cursor': 'pointer'}">
                                    <i class="fa-solid fa-plus text-secondary text-sm option"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="New appointment"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3" [ngStyle]="{'background-color': '#fff'}">
                        <app-table
                            [id]="'appointments-list'"
                            [header]="header"
                            [data]="data"
                            [total]="total"
                            (next)="getAppointments($event)"
                            [thStyles]="{'background': 'var(--danger)'}"
                            [thItemsStyles]="{'font-weight': 'bold', 'color': 'white'}"
                        ></app-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>