<app-header></app-header>
<div class="g-sidenav-show bg-gray-200 h-100">
    <div class="main-content position-relative max-height-vh-100 h-100">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
            navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <h1 class="font-weight-bolder mb-0" [ngStyle]="{'font-size': '20px'}">Listado de Chats</h1>
                </nav>
            </div>
        </nav>
        <div class="container-fluid px-2 px-md-4" [ngStyle]="{'position': 'relative', 'top': '20px'}">
            <div class="col-12 mt-4">
                <div class="card card-plain h-100">
                    <div class="card-body tabs">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 item-list"
                                [ngClass]="{'item-selected': actualTab === TABS.CHATS }" (click)="tab(TABS.CHATS)">
                                <h2>MIS CHATS</h2>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 item-list"
                                [ngClass]="{'item-selected': actualTab === TABS.GROUPS }" (click)="tab(TABS.GROUPS)">
                                <h2>MIS GRUPOS</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Search bar -->
                    <div class="search-bar pl-4">
                        <form [formGroup]="form" autocomplete="on">
                            <mat-form-field class="input" appearance="standard">
                                <input matInput formControlName="search" name="search" type="search"
                                    placeholder="Buscar un chat" required="false">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                <ng-container *ngIf="actualTab === TABS.CHATS">
                                    <div class="chats-box">
                                        <div class="col-12 item-chat" *ngFor="let value of chats"
                                            (click)="select_chat(value.item.chat_session.id)">
                                            <div class="row">
                                                <div class="col-2 avatar"
                                                    *ngIf="value.item.chat_session.attachment !== null">
                                                    <img [src]="env.storage + value.item.chat_session.attachment" />
                                                </div>
                                                <div class="col-2 avatar"
                                                    *ngIf="value.item.chat_session.attachment == null">
                                                    <img [src]="'assets/img/user.png'" />
                                                </div>
                                                <div class="col-5">
                                                    <h4 class="title_chat">{{ value.item.chat_session.name }}</h4>
                                                    <p class="last_message">{{ value.lastMessage }}</p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="timelog">{{ moment(value.lastDateMessage).format('h:mm a')
                                                        }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            <ng-container *ngIf="chatSelected.open">
                                <!-- Chat -->
                                <div class="col-12 col-sm-12 col-md-8 col-lg-8 chats">
                                    <!-- chat header -->
                                    <div class="row chat-header">
                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 avatar">
                                            <img [src]="'assets/img/user.png'" />
                                            <h4 [ngStyle]="{'font-size': '17px'}" class="ml-4">{{ chatSelected.chat_name
                                                }}</h4>
                                        </div>
                                    </div>
                                    <!-- Chat content -->
                                    <div class="row chat-content" #messageContent [scrollTop]="scrollDown">
                                        <ng-container *ngFor="let chat of chatSelected.logs">
                                            <ng-container *ngIf="chat.sender_id !== user.id">
                                                <!-- Receiver -->
                                                <div class="col-12 receiver">
                                                    <div class="box-chat-content box-shadow">
                                                        <p class="message">
                                                            {{ chat.message }}
                                                            <span class="message-timelog">{{
                                                                moment(chat.created_at).format('h:mm a') }}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngIf="chat.sender_id === user.id">
                                                <!-- Sender -->
                                                <div class="col-12 sender">
                                                    <div class="box-chat-content box-shadow">
                                                        <p class="message">
                                                            {{ chat.message }}
                                                            <span class="message-timelog">{{
                                                                moment(chat.created_at).format('h:mm a') }}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <!-- Last message -->
                                            <div class="last-message-box"></div>
                                        </ng-container>
                                    </div>
                                    <!-- Chat to type message -->
                                    <div class="row box-message">
                                        <div class="col-12">
                                            <form [formGroup]="message" autocomplete="on">
                                                <mat-form-field class="inputType" appearance="outline">
                                                    <input matInput formControlName="message" name="message" type="text"
                                                        placeholder="Escribe un mensaje aquí" required="false"
                                                        (keyup.enter)="newMessage()">
                                                    <mat-icon matSuffix>search</mat-icon>
                                                </mat-form-field>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>